body {
  background-color: var(--clr-black);
  color: var(--clr-white);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section:nth-of-type(odd) .section-heading {
  margin-left: auto;
}

.section-heading {
  display: inline-block;
  position: relative;
  color: var(--clr-dark-rose);
}

.section-heading::after {
  content: "";
  position: absolute;
  width: 100vw;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--clr-dark-rose);
}

.section:nth-of-type(odd) .section-heading::after {
  margin-left: auto;
  left: 0;
  right: auto;
}

/* =============== HEADER ============= */

.main-header {
  color: var(--clr-white);
  height: var(--header-height);
}

.main-header .grid-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotype {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-navigation {
  width: 100%;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.nav-item {
  margin-left: var(--gap-lg);
}

/* =============== HERO =========== */

.hero-section {
  height: 810px;
  margin-top: 100px;
  padding-bottom: 50px;
  background-image: url('../assets/images/bg-images/flowers-1.png');
  background-repeat: no-repeat;
  background-position: 80% 0;
}

.hero-content {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.hero-heading {
  max-width: 860px;
  color: var(--clr-dark-rose);
  margin-bottom: var(--gap-lg);
  margin-block-start: 0;
  margin-block-end: 0;
}

.hero-accent {
  display: inline-block;
  margin-left: 100px;
  color: var(--clr-white);
}

.hero-btn {
  width: 427px;
  margin-top: var(--gap-xxl);
  justify-content: center;
}

.hero-features-list {
  display: flex;
  flex-flow: row wrap;
  column-gap: 124px;
  align-self: center;
}

.features-item {
  max-width: 215px;
  text-align: center;
}

.features-item p {
  margin-top: 2px;
}

/* ============ CATALOG =========== */

.catalog-section {
  margin-bottom: 92px;
  padding-top: var(--gap-xxl);
  background-image: url('../assets/images/bg-images/flowers-2.png');
  background-repeat: no-repeat;
  background-position: center right;
  background-size: contain;
}

.catalog-content {
  flex-direction: column;
  flex-wrap: nowrap;
}

.catalog-heading {
  align-self: start;
  margin-bottom: 100px;
}

/* selects */

.catalog-selects-block {
  max-width: 1085px;
  margin: 0 auto;
  background-color: var(--clr-rose-transp);
  border-radius: var(--brd-radius);
}

.selects-heading {
  margin-bottom: var(--gap-lg);
  text-align: center;
  color: var(--clr-white);
}

.all-selects-blocks {
  display: flex;
  background-color: var(--clr-rose);
  border-radius: var(--brd-radius);
}

/* best-selling list */

.best-selling-block {
  margin-top: var(--gap-xxl);
}

.best-selling-heading {
  text-align: center;
}

.best-selling-list {
  width: 100%;
  padding: var(--gap-lg) 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  gap: var(--gap-xl) 75px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.best-selling-btn {
  display: block;
  margin: 0 auto;
}

.best-selling-item,
.best-selling-item img {
  border-radius: var(--brd-radius);
}

.best-selling-item img {
  margin: var(--gap-md);
}

.best-selling-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}

.best-selling-descr {
  padding-bottom: var(--gap-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price {
  margin-bottom: var(--gap-sm);
  color: var(--clr-black);
}

.old-price {
  color: var(--clr-black);
}

.item-number {
  color: var(--clr-grey);
}

.badge {
  position: absolute;
  bottom: 145px;
  padding: 6px 20px;
  border: 2px solid #FFFFFF;
  border-radius: 22px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.badge.badge-new {
  background-color: var(--clr-rose);
}

.badge.badge-water {
  background-color: var(--clr-blue);
}

.badge-new .fa-seedling,
.badge-water .fa-droplet {
  margin-right: var(--gap-sm);
}

.like-btn {
  position: absolute;
  top: var(--gap-md);
  right: var(--gap-md);
  width: 28px;
  height: 28px;
  font-size: 28px;
  line-height: 28px;
  border: none;
  background-color: transparent;
  color: #FF5555;
  cursor: pointer;
  transition: color 0.3s ease-in;
}

.like-btn:hover {
  color: var(--clr-dark-rose);
}

/* =========== QUALITY =========== */

.quality-item {
  display: flex;
}

.quality-item .quality-item-img,
.quality-item .quality-description {
  flex-basis: 50%;
  order: 0;
}

.quality-item .quality-item-img {
  border-radius: var(--brd-radius);
}

.quality-item:nth-of-type(even)>.quality-item-img {
  order: 1;
}

.quality-item:nth-of-type(odd) .quality-description {
  padding-left: 120px;
}

.quality-item:nth-of-type(even) .quality-description {
  padding-right: 120px;
}

.quality-description {
  padding-top: 120px;
}

.quality-item .quality-description-title {
  margin-bottom: var(--gap-md);
}

.quality-description p {
  font-weight: 300;
}

/* =========== APPLICATION =========== */

.application-section {
  margin-top: 132px;
  /* padding-bottom: 120px; */
  background-image: url('../assets/images/bg-images/flowers-3.png');
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}

.application-content {
  flex-direction: column;
  flex-wrap: nowrap;
}

.application-heading {
  margin-bottom: 140px;
}

.application-form-desription {
  margin-bottom: 320px;
  padding: var(--gap-xl) 120px;
  display: flex;
  background-color: var(--clr-rose-transp);
  border-radius: 10px;
}

.application-form,
.application-description {
  flex: 1 0 50%;
}

.application-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.application-form-text {
  margin-bottom: var(--gap-xxl);
}

.application-form-input {
  min-width: 416px;
  margin-bottom: 40px;
  padding: var(--gap-lg) var(--gap-xl);
  padding-right: 95px;
  border-radius: var(--brd-radius);
  border: none;
  font-weight: 700;
}

.application-form-input::placeholder {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #8D8D8D;
}

.application-form-input_label {
  position: relative;
}

.application-form-input_label::after {
  content: "";
  position: absolute;
  width: 95px;
  height: 73px;
  top: 0;
  right: 0;
  border-left: 1px solid #8D8D8D;
  background-repeat: no-repeat;
  background-position: center;
}

.application-form-input_label[for="customer-name"]::after {
  background-image: url('../assets/images/icons/person-icon.svg');
  background-size: 28px;
}

.application-form-input_label[for="customer-phone"]::after {
  background-image: url('../assets/images/icons/phone-icon.svg');
  background-size: 24px;
}

.application-form-btn {
  min-width: 416px;
  justify-content: center;
}

.application-desription-text {
  margin-bottom: 50px;
}

.application-desription-list {
  color: rgba(255, 255, 255, 0.71);
}

.application-desription-item {
  position: relative;
  margin-bottom: var(--gap-xl);
  padding: 12px;
  padding-left: 80px;
}

.application-desription-item::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url('../assets/images/icons/checkmark-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

/* ============== CUSTOMERS ============ */

.customers-section {
  margin-top: -210px;
  padding-bottom: 120px;
}

.customers-content {
  flex-direction: column;
  flex-wrap: nowrap;
}

.block-customers-list {
  position: relative;
  margin-top: 140px;
}

.customers-list {
  display: flex;
  justify-content: center;
  gap: var(--gap-md);
}

.customers-list-btn {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.customers-list-btn-prev {
  left: -42px;
}

.customers-list-btn-next {
  right: -42px;
}

.customers-list-btn-next img {
  transform: rotate(180deg);
}

/* ============== FOOTER =========== */

.footer {
  padding: var(--gap-xxl) 0;
  border-top: 1px solid var(--clr-dark-rose);
}

.footer-content {
  display: flex;
}

.footer-nav-list .nav-item {
  margin-bottom: var(--gap-lg);
}

.footer-navigation,
.contacts {
  width: 250px;
}

.logo-socials {
  margin: 0 auto;
}

.logo-footer {
  margin-top: var(--gap-xs);
  text-transform: uppercase;
}

.social-list {
  margin-top: var(--gap-xxl);
  display: flex;
  width: 212px;
  justify-content: space-between;
}

.social-item {
  vertical-align: baseline;
}

.social-link {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}

.contacts-detail {
  margin-bottom: var(--gap-lg);
  text-align: center;
  font-style: normal;
}

.contacts-detail address {
  text-align: center;
}