body {
  background-color: var(--clr-black);
  color: var(--clr-white);
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.section:nth-of-type(odd) .section-heading {
  margin-left: auto;
}

.section-heading {
  display: inline-block;
  position: relative;
  color: var(--clr-dark-rose);
}

.section-heading::after {
  content: "";
  position: absolute;
  width: 100vw;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--clr-dark-rose);
}

.section:nth-of-type(odd) .section-heading::after {
  margin-left: auto;
  left: 0;
  right: auto;
}

/* =============== HEADER ============= */

.main-header {
  color: var(--clr-white);
  height: var(--header-height);
}

.main-header .grid-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logotype {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.main-navigation {
  width: 100%;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.nav-item {
  margin-left: var(--gap-lg);
}

/* =============== HERO =========== */

.hero-section {
  height: 810px;
  margin-top: 100px;
  padding-bottom: 50px;
  background-image: url('../assets/images/bg-images/flowers-1.png');
  background-repeat: no-repeat;
  background-position: 80% 0;
}

.hero-content {
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.hero-heading {
  max-width: 860px;
  color: var(--clr-dark-rose);
  margin-bottom: var(--gap-lg);
  margin-block-start: 0;
  margin-block-end: 0;
}

.hero-accent {
  display: inline-block;
  margin-left: 100px;
  color: var(--clr-white);
}

.hero-btn {
  width: 427px;
  margin-top: var(--gap-xxl);
  justify-content: center;
}

.hero-features-list {
  display: flex;
  flex-flow: row wrap;
  column-gap: 124px;
  align-self: center;
}

.features-item {
  max-width: 215px;
  text-align: center;
}

.features-item p {
  margin-top: 2px;
}

/* ============ CATALOG =========== */

.catalog-section {
  margin-bottom: 92px;
  padding-top: var(--gap-xxl);
}

.catalog-content {
  flex-direction: column;
}

.catalog-heading {
  align-self: start;
  margin-bottom: 100px;
}

/* selects */

.catalog-selects-block {
  max-width: 1085px;
  margin: 0 auto;
  background-color: var(--clr-rose-transp);
  border-radius: var(--brd-radius);
}

.selects-heading {
  margin-bottom: var(--gap-lg);
  text-align: center;
  color: var(--clr-white);
}

.all-selects-blocks {
  display: flex;
  background-color: var(--clr-rose);
  border-radius: var(--brd-radius);
}

